<h1> Actor #<%= @url_num %> details </h1>

<a href="/actors">Go back</a>

<dt> Name </dt>
<dd> <%= @the_actor.name %> </dd>

<dt> Dob </dt>
<dd> <%= @the_actor.dob %> </dd>

<dt> Bio </dt>
<dd> <%= @the_actor.bio %> </dd>

<dt> Image </dt>
<dd> <img src="http://robohash.org/<%= @the_actor.name %>"><a> </dd>

<dt> Created at </dt>
<dd> <%= time_ago_in_words(@the_actor.created_at) %> ago </dd>

<dt> Updated at </dt>
<dd> <%= time_ago_in_words(@the_actor.updated_at) %> ago </dd>

<h2>Filmography</h2>

<table border="1">
<% @movies_starred.each do |char| %>

<tr>
<td> <%= Movie.all.where({ :id => char.movie_id}).at(0).title %> </td>
<td> <%= Movie.all.where({ :id => char.movie_id}).at(0).year %> </td>
<% director = Movie.all.where({ :id => char.movie_id}).at(0).director_id %>
<td> <%= Director.all.where({ :id => director}).at(0).name %> </td>
<td> <%= char.name %> </td>
</tr>
<% end %>
</table>
