<h1>Movies</h1>
<h1> List of all movies </h1>

<table border="1">
<% @list_of_films.each do |film| %>
<tr>
  <td><%= film.id %></td>
  <td> <img src="http://robohash.org/<%= film.title %>" ></td>
  <td><%= film.title %></td>
  <td><%= film.year %></td>
  <td><%= Director.all.where({ :id => film.director_id }).at(0).name%> </td>
  <td><a href="/movies/<%= film.id%>">Show details<a></td>
</tr>
<% end %>
</table>
